body {
  background-image: repeating-linear-gradient(
    to right,
    #363636,
    #a05c41 100px,
    #9198e5 100px,
    #f59c29 100px
  );
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#difficultyText {
  color: white;
  font-size: 16pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10vw;
  padding: 30px 0;
  font-size: 14pt;
  display: flex;
  justify-content: center;
  /* height: 200px !important; */
  text-align: center;
  border-radius: 10pt 10pt 0 0;
}

main {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 200px;
  color: white;
  margin-bottom: 0;
  white-space: nowrap;
}

header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  top: 0;
}

#headerTarget {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: -10vw;
}

#startBtn,
#playAgainBtn {
  width: 40%;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  font-size: 20px;
  margin: 2vw;
  padding: 3vw 9vw;
  text-align: center;
  background-size: 200% auto;
  color: white;
  border: transparent;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
}

#playAgainBtn {
  display: none;
}

#startBtn:hover,
#playAgainBtn:hover {
  background-image: linear-gradient(
    to right,
    #027f83 0%,
    #009b81 51%,
    #008085 100%
  );
  box-shadow: 0 0 10px #eee;
}

#targets {
  display: none;
  position: relative;
  height: 50%;
  width: 75%;
}

.headerTarget {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
}

.targetDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.target {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
}

.ring1 {
  position: absolute;
  width: 87.1%;
  height: 87.1%;
  background-color: firebrick;
  border-radius: 50%;
}

.ring2 {
  position: absolute;
  width: 74.25%;
  height: 74.25%;
  background-color: white;
  border-radius: 50%;
}

.ring3 {
  position: absolute;
  width: 61.4%;
  height: 61.4%;
  background-color: firebrick;
  border-radius: 50%;
}

.ring4 {
  position: absolute;
  width: 48.55%;
  height: 48.55%;
  background-color: white;
  border-radius: 50%;
}

.ring5 {
  position: absolute;
  width: 35.7%;
  height: 35.7%;
  background-color: firebrick;
  border-radius: 50%;
}

.ring6 {
  position: absolute;
  width: 22.85%;
  height: 22.85%;
  background-color: white;
  border-radius: 50%;
}
.ring7 {
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: firebrick;
  border-radius: 50%;
}

.hideTarget {
  display: none;
}

#startTimerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

#startCountdown {
  margin-top: 30vh;
  font-size: 200px;
  color: white;
  height: 100%;
}

#gameUi {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 22px;
}

#hits,
#score,
#highScore {
  position: absolute;
  margin-top: 70px;
}

#gameTimer {
  position: absolute;
  display: none;
  font-size: 100px;
  color: white;
  bottom: 5vh;
}

/* .topLeftDifficulty1Variation {

} */
.topLeftDifficulty2Variation1 {
  animation: moveRight 0.75s;
  animation-fill-mode: both;
}
.topLeftDifficulty2Variation2 {
  animation: moveDown 0.75s;
  animation-fill-mode: both;
}
.topLeftDifficulty2Variation3 {
  animation: moveRightAndDown 0.75s;
  animation-fill-mode: both;
}

.topLeftDifficulty3Variation1 {
  animation: curveRightFromBelow linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.topLeftDifficulty3Variation2 {
  animation: curveDownFromRight linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.topLeftDifficulty3Variation3 {
  animation: moveRight linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.topLeftDifficulty3Variation4 {
  animation: moveDown linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.topLeftDifficulty3Variation5 {
  animation: moveRightAndDown linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

/* .topRightDifficulty1Variation {

} */
.topRightDifficulty2Variation1 {
  animation: moveLeft 0.75s;
  animation-fill-mode: both;
}
.topRightDifficulty2Variation2 {
  animation: moveDown 0.75s;
  animation-fill-mode: both;
}
.topRightDifficulty2Variation3 {
  animation: moveLeftAndDown 0.75s;
  animation-fill-mode: both;
}

.topRightDifficulty3Variation1 {
  animation: curveLeftFromBelow linear 0.375s alternate;
  animation-iteration-count: 2;

  animation-fill-mode: both;
}
.topRightDifficulty3Variation2 {
  animation: curveDownFromLeft linear 0.375s alternate;
  animation-iteration-count: 2;

  animation-fill-mode: both;
}
.topRightDifficulty3Variation3 {
  animation: moveLeft linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.topRightDifficulty3Variation4 {
  animation: moveDown linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.topRightDifficulty3Variation5 {
  animation: moveLeftAndDown linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

/* .bottomLeftDifficulty1Variation{

} */
.bottomLeftDifficulty2Variation1 {
  animation: moveRight 0.75s;
  animation-fill-mode: both;
}
.bottomLeftDifficulty2Variation2 {
  animation: moveUp 0.75s;
  animation-fill-mode: both;
}
.bottomLeftDifficulty2Variation3 {
  animation: moveRightAndUp 0.75s;
  animation-fill-mode: both;
}

.bottomLeftDifficulty3Variation1 {
  animation: curveRightFromAbove linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomLeftDifficulty3Variation2 {
  animation: curveUpFromRight linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomLeftDifficulty3Variation3 {
  animation: moveRight linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomLeftDifficulty3Variation4 {
  animation: moveUp linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomLeftDifficulty3Variation5 {
  animation: moveRightAndUp linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

/* .bottomRightDifficulty1Variation{

} */
.bottomRightDifficulty2Variation1 {
  animation: moveLeft 0.75s;
  animation-fill-mode: both;
}
.bottomRightDifficulty2Variation2 {
  animation: moveUp 0.75s;
  animation-fill-mode: both;
}
.bottomRightDifficulty2Variation3 {
  animation: moveLeftAndUp 0.75s;
  animation-fill-mode: both;
}

.bottomRightDifficulty3Variation1 {
  animation: curveLeftFromAbove linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomRightDifficulty3Variation2 {
  animation: curveUpFromLeft linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomRightDifficulty3Variation3 {
  animation: moveLeft linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomRightDifficulty3Variation4 {
  animation: moveUp linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}
.bottomRightDifficulty3Variation5 {
  animation: moveLeftAndUp linear 0.375s alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

@keyframes moveRight {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(30vw);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-30vw);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(-30vh);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(30vh);
  }
}
@keyframes moveRightAndUp {
  0% {
    transform: translateX(0vw) translateY(0vh);
  }

  100% {
    transform: translateX(20vw) translateY(-30vh);
  }
}
@keyframes moveRightAndDown {
  0% {
    transform: translateX(0vw) translateY(0vh);
  }

  100% {
    transform: translateX(20vw) translateY(30vh);
  }
}
@keyframes moveLeftAndUp {
  0% {
    transform: translateX(0vw) translateY(0vh);
  }

  100% {
    transform: translateX(-20vw) translateY(-30vh);
  }
}
@keyframes moveLeftAndDown {
  0% {
    transform: translateX(0vw) translateY(0vh);
  }

  100% {
    transform: translateX(-20vw) translateY(30vh);
  }
}

@keyframes curveRightFromBelow {
  0% {
    transform: rotate(90deg) translateX(10vw);
  }

  100% {
    transform: rotate(0deg) translateX(10vw);
  }
}
@keyframes curveDownFromRight {
  0% {
    transform: rotate(-90deg) translateY(-10vh);
  }

  100% {
    transform: rotate(0deg) translateY(-10vh);
  }
}

@keyframes curveRightFromAbove {
  0% {
    transform: rotate(-90deg) translateX(10vw);
  }

  100% {
    transform: rotate(0deg) translateX(10vw);
  }
}
@keyframes curveUpFromRight {
  0% {
    transform: rotate(0deg) translateX(10vw);
  }

  100% {
    transform: rotate(-90deg) translateX(10vw);
  }
}

@keyframes curveLeftFromBelow {
  0% {
    transform: rotate(90deg) translateX(-10vw);
  }

  100% {
    transform: rotate(0deg) translateX(-10vw);
  }
}
@keyframes curveDownFromLeft {
  0% {
    transform: rotate(0deg) translateX(-10vw);
  }

  100% {
    transform: rotate(-90deg) translateX(-10vw);
  }
}

@keyframes curveLeftFromAbove {
  0% {
    transform: rotate(-90deg) translateX(-10vw);
  }

  100% {
    transform: rotate(0deg) translateX(-10vw);
  }
}
@keyframes curveUpFromLeft {
  0% {
    transform: rotate(0deg) translateX(-10vw);
  }

  100% {
    transform: rotate(90deg) translateX(-10vw);
  }
}
